<configuration>
  <property>
    <name>fs.s3a.endpoint</name>
    <value>{{ headnode_ip }}:{{ s3_port }}</value>
  </property>

  <property>
    <name>fs.s3a.access.key</name>
    <value>{{ s3_accesskey }}</value>
  </property>

  <property>
    <name>fs.s3a.secret.key</name>
    <value>{{ s3_secretkey }}</value>
  </property>

  <property>
    <name>fs.s3a.path.style.access</name>
    <value>true</value>
  </property>

  <property>
    <name>fs.s3a.impl</name>
    <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
  </property>
</configuration>

